.stApp {
    background-image: url('https://i.postimg.cc/wMmKLJdz/Untitled-design.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

